## Fraud detection project

### Aim: Extract second- and third-degrees of connections

#### Background:

*import libraries*

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import networkx as nx
import bokeh
import collections
import powerlaw 
import operator

In [2]:
import warnings
warnings.filterwarnings("ignore")

pd.options.display.max_rows = 50
pd.options.display.max_columns = 50

#### level 2

*import data*

levels 
<br> Level1 (one edge):
bank to Otherbank/ bank to pay

Level 2 (two edges):
bank to bank to other Nonbank accounts (if applicable)

Level 3 (three edges or more):
bank to bank to bank to other Nonbank accounts (if applicable)

**import data**

In [7]:
txn_df = pd.read_csv('.\data\Final_Cleaned.csv')

##### clean data

In [10]:
txn_df.dropna(subset = ['target_name'],inplace=True)

In [11]:
txn_df.shape

(960933, 29)

In [12]:
txn_df = txn_df[txn_df['source_name']!=txn_df['target_name']]

In [13]:
txn_df.shape

(943572, 29)

In [15]:
# remove 'personal savings' and 'playeveryday debit'
txn_df = txn_df[txn_df['source_name']!='personal savings']
txn_df = txn_df[txn_df['source_name']!='playeveryday debit']

In [16]:
txn_df.shape

(859995, 29)

In [18]:
# remove 'nofill' and 'number'
txn_df = txn_df[txn_df['target_name']!='nofill']
txn_df = txn_df[txn_df['target_name']!='number']

In [19]:
txn_df.shape

(732107, 29)

##### create level 2 dataset

In [21]:
txn_df['currency'].value_counts()

PHP    732050
USD        57
Name: currency, dtype: int64

**filter for bank to bank txn**

In [22]:
ubp_1 = txn_df[txn_df['TargetBank']=='bank'][['tran_date','source_name','target_name','TargetBank','txn_amount','response']].dropna(subset = ['target_name'])

In [23]:
ubp_1 = ubp_1[ubp_1['source_name']!=ubp_1['target_name']]

**filter for bank to non-bank txn**

In [25]:
ubp_2 = txn_df[txn_df['TargetBank']!='bank'][['tran_date','source_name','target_name','TargetBank','txn_amount','response']].dropna(subset = ['target_name'])

In [26]:
ubp_2 = ubp_2[ubp_2['source_name']!=ubp_2['target_name']]

In [28]:
# merge both such that bank to bank to non-bank
big_df = pd.merge(ubp_1, ubp_2, left_on=['target_name'], right_on=['source_name'])

In [29]:
big_df.shape

(20775816, 12)

In [31]:
big_df['day_diff'] = (pd.to_datetime(big_df['tran_date_y']) - pd.to_datetime(big_df['tran_date_x'])).dt.days

In [32]:
# transactions done within number of days
nr_day = 2

In [33]:
# transfers have to be done within n day, and not on same day
level_2 = big_df[(big_df['day_diff']<=nr_day) & (big_df['day_diff']>0)]

In [35]:
# transfers have to be done within n day and the first transactions
level_2_first = big_df[(big_df['day_diff']<=nr_day) & (big_df['day_diff']>0)].groupby(by=['tran_date_x','source_name_x','target_name_x','TargetBank_x','txn_amount_x','response_x']).first().reset_index()

##### export level 2 data

In [37]:
level_2.to_csv('./data/level_2.csv')

#### level 3

##### create level 3 dataset

In [43]:
# merge both such that bank to bank to bank
tmp2 = pd.merge(ubp_1, ubp_1, left_on=['target_name'], right_on=['source_name'])

In [45]:
tmp2.shape

(5647994, 12)

In [46]:
tmp2['day_diff'] = (pd.to_datetime(tmp2['tran_date_y']) - pd.to_datetime(tmp2['tran_date_x'])).dt.days

In [47]:
# transfers have to be done within 1 day. 
ubp_1_1 = tmp2[(tmp2['day_diff']<=1) & (tmp2['day_diff']>0)]

In [49]:
# transfers have to be done within 3 days, and first transaction 
tmp2[(tmp2['day_diff']<=3) & (tmp2['day_diff']>0)].groupby(by=['tran_date_x','source_name_x','target_name_x','TargetBank_x','txn_amount_x','response_x']).first().reset_index()

In [50]:
ubp_1_1.shape

(71171, 13)

In [52]:
# ubp_1_1 - bank to bank to bank
# ubp_2 - bank to non-bank
# merge both such that bank to bank to bank to non-bank
tmp3 = pd.merge(ubp_1_1, ubp_2, left_on=['target_name_y'], right_on=['source_name'])

In [54]:
tmp3.shape

(9292699, 19)

In [55]:
tmp3['day_diff'] = (pd.to_datetime(tmp3['tran_date']) - pd.to_datetime(tmp3['tran_date_y'])).dt.days

In [56]:
# transactions done within number of days
nr_day = 2

In [57]:
# transfers between bank2 to non-bank
# transfers have to be done within n day, and not on same day
level_3 = tmp3[(tmp3['day_diff']<=nr_day) & (tmp3['day_diff']>0)]

In [59]:
# transfers between bank2 to non-bank
# transfers have to be done within 2 days, and first transactions
level_3_first = tmp3[(tmp3['day_diff']<=nr_day) & (tmp3['day_diff']>0)].groupby(by=['tran_date_y','source_name_y','target_name_y','TargetBank_y','txn_amount_y','response_y']).first().reset_index()

##### export level 3 data

In [61]:
level_3.to_csv('./data/level_3.csv')